.home__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--spacing-1);
}

.home__title {
  text-align: center;
}

.home__reposList {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: var(--spacing-1);
}

.home__repos {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
}

@media (min-width: 800px) {
  .home__repos {
    flex-direction: row;
  }
}
