.header__wrapper {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  padding: var(--spacing-1);
  justify-content: space-between;
}

.header__logo {
  color: var(--color-text-secondary);
  &:hover {
    color: var(--color-text-primary);
  }
}
